
*.pdb
*.ide-shm
*.pdb
Pruebas/PruebaJuegoConsola/.vs/PruebaJuegoConsola/v15/Server/sqlite3/storage.ide
Pruebas/PruebaJuegoConsola/.vs/PruebaJuegoConsola/v15/Server/sqlite3/storage.ide
Pruebas/PruebaJuegoConsola/.vs/PruebaJuegoConsola/v15/Server/sqlite3/storage.ide
*.ide
*.ide-shm
*.ide
*.ide
*.config
*.config
Back-End/Server/WebApi_Othello/.vs/WebApi_Othello/v15/.suo
*.ide
