
<!--Ventana LOGIN
    Permite al usuario iniciar sesión o registrarse en el sistema mediante Google ó Facebook
-->
<div class="container" id="container_div_login">
    <div class="card" id="card_login">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-8">
                    <h4 class="card-title">Log In</h4>
                </div>
                <div class="col-sm-4">
                    <h4 class="card-title">Diseño de Software</h4>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="row" >
                <a class="btn btn-block btn-social btn-facebook" style="font-size: x-large" id="btn_facebook_login">
                    <span class="fab fa-facebook"></span> Sign in with Facebook
                </a>
                <a class="btn btn-block btn-social btn-google" style="font-size: x-large" id="btn_google_login">
                    <span class="fab fa-google-plus-g"></span> Sign in with Google
                </a>
            </div>
        </div>
        <div class="card-footer" style="text-align: center">
            <h5> <strong>All rights reserved</strong></h5>
        </div>
    </div>
</div>